<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PHP-CS-Fixer Playground</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/themes/prism.min.css" integrity="sha256-6RI2bGiVbA9GqCSAFm96msi4ap50++uo5NYUQ+o7AXk=" crossorigin="anonymous">
    <style>
        #code {
            font-family: monospace;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <h1>PHP-CS-Fixer Playground <span class="badge badge-primary">{{ phpCsFixerVersion }}</span></h1>
        <a href="https://github.com/ntzm/PHP-CS-Fixer-Playground/">GitHub</a>
        <div class="row">
            <div class="col-sm-6">
                <form method="post" action="/">
                    <div class="form-group">
                        <textarea class="form-control" name="code" id="code" cols="30" rows="10">{{ code }}</textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Run</button>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="indent">Indentation</label>
                                <select class="form-control" name="indent" id="indent">
                                    <option value="    "{{ indent == '    ' ? ' selected' : '' }}>4 Spaces</option>
                                    <option value="  "{{ indent == '  ' ? ' selected' : '' }}>2 Spaces</option>
                                    <option value="	"{{ indent == '	' ? ' selected' : '' }}>Tabs</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="line-ending">Line Ending</label>
                                <select class="form-control" name="line_ending" id="line-ending">
                                    <option value="\n"{{ lineEnding == '\\n' ? ' selected' : '' }}>\n</option>
                                    <option value="\r\n"{{ lineEnding == '\\r\\n' ? ' selected' : '' }}>\r\n</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        {% for fixer in availableFixers %}
                            {% set checked = fixers[fixer.name] != false %}
                            {% set deprecated = fixer is instanceof('PhpCsFixer\\Fixer\\DeprecatedFixerInterface') %}
                            {% set itemClasses = ['list-group-item'] %}
                            {% if deprecated %}
                                {% set itemClasses = itemClasses|merge(['list-group-item-danger']) %}
                            {% elseif fixer.risky %}
                                {% set itemClasses = itemClasses|merge(['list-group-item-warning']) %}
                            {% endif %}
                            <li class="{{ itemClasses|join(' ') }}" id="{{ fixer.name }}">
                                <div class="d-flex w-100 justify-content-between">
                                    <label>
                                        <input type="hidden" name="fixers[{{ fixer.name }}]" value="false">
                                        <input type="checkbox" name="fixers[{{ fixer.name }}]" value="true"{{ checked ? ' checked' : '' }}> <code>{{ fixer.name }}</code>
                                    </label>
                                    <a href="#{{ fixer.name }}">#</a>
                                </div>
                                <p>{{ fixer.definition.summary|format }}</p>
                                {% if deprecated %}
                                    <p>
                                        <strong>
                                            Deprecated rule:
                                            {% if fixer.successorsNames %}
                                                use {{ fixer.successorsNames|link_rules }} instead
                                            {% else %}
                                                will be removed in next major version
                                            {% endif %}
                                        </strong>
                                    </p>
                                {% endif %}
                                {% if fixer.risky %}
                                    <p><strong>Risky rule: {{ fixer.definition.riskyDescription|format }}</strong></p>
                                {% endif %}
                                {% if fixer is instanceof('PhpCsFixer\\Fixer\\ConfigurationDefinitionFixerInterface') %}
                                    {% for option in fixer.configurationDefinition.options %}
                                        <div class="form-group">
                                            <label><code>{{ option.name }}</code></label>
                                            <p>{{ option.description|format }}</p>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </form>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">Result</div>
                    <div class="card-body">
                        <pre><code class="language-php">{{ result }}</code></pre>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">Applied fixers</div>
                    <div class="card-body">
                        {% if appliedFixers %}
                            <ul class="mb-0">
                                {% for fixer in appliedFixers %}
                                    <li><a href="#{{ fixer.name }}"><code>{{ fixer.name }}</code></a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="mb-0">No fixers applied!</p>
                        {% endif %}
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">Diff</div>
                    <div class="card-body">
                        <pre><code class="language-diff">{{ diff }}</code></pre>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Config</div>
                    <div class="card-body">
                        <pre><code class="language-php">{{ generatedConfig }}</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/prism.min.js" integrity="sha256-AqXn2u4UOZ36/xOhOEYrMIqgHrq1p8m88HJO+oPzPiM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/components/prism-php.min.js" integrity="sha256-yQtytnnfraW6dL24hRbZtmTuhb7Y5l8o0wXesz/wIbI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/components/prism-diff.min.js" integrity="sha256-2j19IpsajXc3FKagWaOLYxCvNv13NmR4mMP749TMBxg=" crossorigin="anonymous"></script>
</body>
</html>
