<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PHP-CS-Fixer Playground</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha256-LA89z+k9fjgMKQ/kq4OO2Mrf8VltYml/VES+Rg0fh20=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/themes/prism.min.css" integrity="sha256-6RI2bGiVbA9GqCSAFm96msi4ap50++uo5NYUQ+o7AXk=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/plugins/show-invisibles/prism-show-invisibles.min.css" integrity="sha256-mhLIsMVR80BiRz+mG8IKgmGIguoQuTYxtPgUdmx3Jrw=" crossorigin="anonymous">
    <style>
        #code {
            font-family: monospace;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <h1>PHP-CS-Fixer Playground <span class="badge badge-primary">{{ phpCsFixerVersion }}</span></h1>
        <noscript>
            <div class="alert alert-info" role="alert">This site works perfectly without JavaScript enabled, however if you want syntax highlighting, JavaScript is unfortunately required!</div>
        </noscript>
        <a href="https://github.com/ntzm/PHP-CS-Fixer-Playground/">GitHub</a>
        <div class="row">
            <div class="col-sm-6">
                <form method="post" action="/run">
                    <div class="form-group">
                        <textarea class="form-control" name="code" id="code" cols="30" rows="10">{{ code }}</textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Run</button>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="indent">Indentation</label>
                                <select class="form-control" name="indent" id="indent">
                                    <option value="    "{{ indent is same as('    ') ? ' selected' : '' }}>4 Spaces</option>
                                    <option value="  "{{ indent is same as('  ') ? ' selected' : '' }}>2 Spaces</option>
                                    <option value="	"{{ indent is same as('	') ? ' selected' : '' }}>Tabs</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="line-ending">Line Ending</label>
                                <select class="form-control" name="line_ending" id="line-ending">
                                    <option value="\n"{{ lineEnding.real is same as('\n') ? ' selected' : '' }}>\n</option>
                                    <option value="\r\n"{{ lineEnding.real is same as('\r\n') ? ' selected' : '' }}>\r\n</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        {% for fixer in availableFixers %}
                            {% set enabled = fixers[fixer.name] ?? false %}
                            {% set itemClasses = ['list-group-item'] %}
                            {% if fixer.deprecated %}
                                {% set itemClasses = itemClasses|merge(['list-group-item-danger']) %}
                            {% elseif fixer.risky %}
                                {% set itemClasses = itemClasses|merge(['list-group-item-warning']) %}
                            {% endif %}
                            <li class="{{ itemClasses|join(' ') }}" id="{{ fixer.name }}">
                                <div class="d-flex w-100 justify-content-between">
                                    <label>
                                        <input type="checkbox" name="fixers[{{ fixer.name }}][_enabled]" value="_true"{{ enabled ? ' checked' : '' }}> <code>{{ fixer.name }}</code>
                                    </label>
                                    <a href="#{{ fixer.name }}">#</a>
                                </div>
                                <p>{{ fixer.definition.summary|e|format }}</p>
                                {% if fixer.deprecated %}
                                    <p>
                                        <strong>
                                            Deprecated rule:
                                            {% if fixer.successorsNames is defined %}
                                                use {{ fixer.successorsNames|link_rules }} instead
                                            {% else %}
                                                will be removed in next major version
                                            {% endif %}
                                        </strong>
                                    </p>
                                {% endif %}
                                {% if fixer.risky %}
                                    <p><strong>Risky rule: {{ fixer.definition.riskyDescription|e|format }}</strong></p>
                                {% endif %}
                                {% if fixer.configurable %}
                                    {% for option in fixer.config.options %}
                                        {% set value = fixers[fixer.name][option.name] ?? null %}
                                        {% if not value and option.hasDefault %}
                                            {% set value = option.default %}
                                        {% endif %}
                                        <div class="form-group">
                                            <label><code>{{ option.name }}</code></label>
                                            <p>{{ option.description|e|format }}</p>
                                            {% if option.deprecated %}
                                                <p><strong>Deprecated option: {{ option.deprecationMessage|e|format }}</strong></p>
                                            {% endif %}
                                            {% if option.allowsMultipleValues %}
                                                <select multiple size="{{ option.printableAllowedValues|length }}" class="form-control" name="fixers[{{ fixer.name }}][{{ option.name }}][]">
                                                    {% for v in option.printableAllowedValues %}
                                                        {% set selected = v in value %}
                                                        <option value="{{ v }}"{{ selected ? ' selected' : '' }}>{{ v }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% elseif option.allowedTypes is same as(['string']) %}
                                                {% if option.printableAllowedValues %}
                                                    <select class="form-control" name="fixers[{{ fixer.name }}][{{ option.name }}]">
                                                        {% for v in option.printableAllowedValues %}
                                                            {% set selected = v is same as(value) %}
                                                            <option value="{{ v }}"{{ selected ? ' selected' : '' }}>{{ v }}</option>
                                                        {% endfor %}
                                                    </select>
                                                {% else %}
                                                    <input class="form-control" type="text" name="fixers[{{ fixer.name }}][{{ option.name }}]" value="{{ value }}">
                                                {% endif %}
                                            {% elseif option.allowedTypes is same as(['bool']) %}
                                                <select class="form-control" name="fixers[{{ fixer.name }}][{{ option.name }}]">
                                                    <option value="_true"{{ value is same as(true) ? ' selected ' : '' }}>True</option>
                                                    <option value="_false"{{ value is same as(false) ? ' selected' : '' }}>False</option>
                                                </select>
                                            {% elseif option.allowedTypes is same as(['bool', 'null']) %}
                                                <select class="form-control" name="fixers[{{ fixer.name }}][{{ option.name }}]">
                                                    <option value="_true"{{ value is same as(true) ? ' selected ' : '' }}>True</option>
                                                    <option value="_false"{{ value is same as(false) ? ' selected' : '' }}>False</option>
                                                    <option value="_null"{{ value is same as(null) ? ' selected' : '' }}>Null</option>
                                                </select>
                                            {% else %}
                                                <p>Unsupported types {{ option.allowedTypes|join(', ') }}</p>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </form>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3">
                    <div class="card-header">Result</div>
                    <div class="card-body">
                        <pre><code class="language-php">{{ result }}</code></pre>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">Applied fixers</div>
                    <div class="card-body">
                        {% if appliedFixers %}
                            <ul class="mb-0">
                                {% for fixer in appliedFixers %}
                                    <li><a href="#{{ fixer.name }}"><code>{{ fixer.name }}</code></a></li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <p class="mb-0">No fixers applied!</p>
                        {% endif %}
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-header">Diff</div>
                    <div class="card-body">
                        <pre><code class="language-diff">{{ diff }}</code></pre>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Config</div>
                    <div class="card-body">
                        <pre><code class="language-php">{{ generatedConfig }}</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/prism.min.js" integrity="sha256-AqXn2u4UOZ36/xOhOEYrMIqgHrq1p8m88HJO+oPzPiM=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/plugins/show-invisibles/prism-show-invisibles.min.js" integrity="sha256-V62xAwTNFNOCJXJEuhm/kMsRDYrWnnULpww5h+y1j0s=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/components/prism-php.min.js" integrity="sha256-yQtytnnfraW6dL24hRbZtmTuhb7Y5l8o0wXesz/wIbI=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.13.0/components/prism-diff.min.js" integrity="sha256-2j19IpsajXc3FKagWaOLYxCvNv13NmR4mMP749TMBxg=" crossorigin="anonymous"></script>
</body>
</html>
